.App {
  text-align: center;

}

html {
  color: #282c34;
  background-color: #ffffff;
}

ul {
  list-style-type:disc black;
  border: 10px ridge #3367cf;
  margin-top: 2px;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #acb1ce;
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-left: 30%;
  margin-right: 30%;
  text-align: left;
  margin-bottom: 5px;
  
  
}

div .App {
  border: 5px ridge rgb(0, 0, 0);
  background-color: #ffffff;
  margin-top: 2%;
  margin-left: 50px;
  margin-right: 50px;
}

h1 {
  font-family: cursive;
  text-decoration: underline;
  text-shadow: 1px 1px black;
  text-decoration-color: #f00202;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 42pt;

}

button {
  margin-bottom: 5px;
  margin-left: 15px;
}

input {
  border: solid 1px #636364;
}